.logo-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-div img {
    width: 100%;
    max-width: 20rem;
    margin-bottom: -10rem;
    z-index: 2;
}

.logo-div img.retranca {
    position: absolute;
    width: 15rem;
    left: 0;
    top: 2rem;
}