.vertical-accordion-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.vertical-accordion-wrapper .side-text {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.vertical-accordion-wrapper .side-text img {
    width: 3rem;
}

.vertical-accordion-wrapper .side-text p {
    color: #FFB84C;
    font-weight: 700;
}

.vertical-accordion {
    width: 100%;
    max-width: 25rem;
    margin: 6rem 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.vertical-accordion .accordion-wrapper {
    width: 100%;
}

.vertical-accordion .accordion-wrapper .accordion {
    margin-bottom: .5rem;
}

.vertical-accordion .accordion-wrapper .accordion .header {
    background-color: rgba(255,255,255,.7);
    /* font-family: officina-bold; */
    color: #7d05a4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem;
    cursor: pointer;
    font-size: 1.4rem;
    user-select: none;
    transition: background-color .3s linear;
}

.vertical-accordion .accordion-wrapper .accordion .header:hover {
    background-color: #fff;
}

.vertical-accordion .accordion-wrapper .accordion .header span {
    font-weight: 700;
}

.vertical-accordion .accordion-wrapper .accordion .content {
    background-color: rgba(125, 5, 164, .6);
    backdrop-filter: blur(10px);
    font-size: 1rem;
    overflow: hidden;
    opacity: 0;
    height: 0;
    transition: ease-out .5s;
}

.vertical-accordion .accordion-wrapper .accordion.show .header {
    background-color: #fff;
}

.vertical-accordion .accordion-wrapper .accordion.show .content {
    padding: .5rem;
    opacity: 1;
    height: auto;
}

.vertical-accordion .accordion-wrapper .accordion.show .content p:not(:last-child) {
    margin-bottom: 1rem;
}

.vertical-accordion .accordion-wrapper .accordion.show .content p span {
    color: #FFB84C;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .vertical-accordion {
        flex-direction: column;
        margin: 0;
        margin-top: 12rem;
    }
}