img.retranca {
    position: absolute;
    width: 15rem;
    left: 0;
    top: 2rem;
    z-index: 10;
}

.sign-area {
    margin-top: 12rem;
    width: 100%;
    display: flex;
}

.sign-area img {
    width: 100%;
    max-width: 450rem;
    margin: 0 auto;
}

.iwt-1 p:not(:last-child) {
    margin-bottom: 3rem;
}

section.wp-capa::after,
section.bg-vertical-accordion::after {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, #660099 0%, #ffffff00 100%);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
}

.text-box {
    width: 100%;
    max-width: 35rem;
    margin-bottom: 5rem;
}

.text-box p {
    margin-bottom: 1.5rem;
}

.text-box[value="2"] {
    color: #000;
}

.text-box[value="2"] h4 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #83D300;

}

.cloud-azure h4,
.cloud-azure h6 span,
.cloud-azure p span {
    color: #B3D682;
}

.cloud-azure h4 {
    font-size: 2rem;
}

.cloud-azure .container > p {
    margin-bottom: 2rem;

}

.cloud-azure .block-area {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;
}

.cloud-azure .block-area .block {
    background-color: #D9D9D9;
    box-shadow: 10px 10px 16px 0px #bd4aff;
    color: #660099;
    width: 14rem;
    padding: 1rem;
}

.cloud-azure .block-area .block p {
    font-weight: 700;
    text-align: center;
}

.text-box[value="2"] h4 span {
    font-weight: 700;
    color: #660099;
}

.cloud-azure .content-center h6 {
    margin-bottom: 1rem;
}

.cloud-azure .content-center h6 span {
    font-weight: 700;
}

.cloud-azure-section {
    background-size: 100% 100% !important;
    margin-top: -5rem !important;
}

.content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iwt-2 {
    margin-top: -11rem !important;
}

.iwt-2 h3,
.iwt-2 p span {
    color: #B3D682;
}

.iwt-2 h3 {
    margin-bottom: 1.5rem;
}

.iwt-2 p {
    margin-bottom: 1rem;
}

.mercado {
    margin-top: -15rem !important;
    padding-top: 9rem;
    z-index: 2 !important;
}

.mask-effect .section-mask {
    position: relative;
}

.mask-effect .section-mask::before {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, #660099 0%, rgba(102, 0, 153, 0.9) 50%, rgb(102, 0, 153, .9) 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cloud-azure .section-mask::before {
    content: '';
    position: absolute;
    background-color: rgba(70, 1, 105, .95);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iwt-2 .section-mask::before {
    content: '';
    position: absolute;
    background-color: rgb(33, 1, 49, .95);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

picture.world h3 {
    color: #660099;
    margin-bottom: 1.5rem;
    text-align: center;
}

picture.world img {
    width: 100%;
    margin-bottom: 5rem;
}

section.wp-asian {
    background-position: 5% bottom !important;
}

@media screen and (max-width: 768px) {
    section.wp-sm {
        background-position: 80% center;
    }
}