h1 {
    margin-bottom: 2rem;
}

p, button {
    font-size: 1rem;
}

p {
    margin-bottom: 1rem;
}

button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

strong.nota {
    color: #ab0202;
}

strong.nota.passed {
    color: #007e00;
}