header {
    background-color: #222;
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100vw;
}

header ul li {
    margin: 0 1rem;
    cursor: pointer;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}