.carrousel-wrapper {
    width: 90%;
    margin: 10rem auto;
}

.carrousel-wrapper .item {
    overflow: hidden;
    display: flex !important;
    gap: 2rem;
    align-items: center;
    padding: 2rem 1rem;
}

.carrousel-wrapper .item > img {
    height: 40rem;
    box-shadow: 20px 10px 20px 0px #bd4aff;
}

.carrousel-wrapper .item p {
    color: #000;
    padding: 2rem 1rem;
    font-size: 1.4rem;
}

.carrousel-wrapper .controls {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
    display: flex;
    justify-content: space-between;
}

.carrousel-wrapper .controls button {
    background: none;
    border: none;
    cursor: pointer;
}

.carrousel-wrapper .controls button img {
    width: 2.5rem;
}

.carrousel-wrapper .controls button.next img {
    transform: scaleX(-1);
}

.carrousel-wrapper .slick-track {
    display: flex;
    gap: 1.3rem;
}

.carrousel-wrapper .slick-dots {
    bottom: -2rem;
    left: 0;
}

.carrousel-wrapper .slick-dots li {
    margin: 0 3px;
}

.carrousel-wrapper .slick-dots li.slick-active button:before {
    color: #670099;
    opacity: 1;
}

.carrousel-wrapper .slick-dots li button:before {
    font-size: 22px;
    color: #d9d9d9;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .carrousel-wrapper {
        width: 100%;
    }

    .carrousel-wrapper .controls {
        display: none;
    }

    .carrousel-wrapper .slick-track {
        gap: .5rem;
    }
}